.all{
    background-color: red;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr;
    padding-left: 50px;
    padding-right: 50px;
}

.img{
    /*min-width: 900px;*/
    /*width: 100%;*/
    /*max-height: 98vh;*/

    width: inherit;
    border-radius: 10px;
}
.container{

}
.projects{
    background-color: blue;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-gap: 1em;

}
@media screen and (max-width: 920px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }
}
.text1{

    font-size: 40px;
    color: var(--text-color);
    transition: background-color 200ms linear;
}
.text2{

    font-size: 30px;
    color: var(--text-color);
    transition: background-color 200ms linear;
}
.text{

    z-index: 1;
}