
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    gap: 2rem;
}
.num{
    font-size: 30px;
    color: var(--text-color);
    transition: background-color 200ms linear;
}
.itemList:hover{
    color: #fb982f;
    cursor: pointer;
}
.num:hover{
    color: #fb982f;
    cursor: pointer;
}
.itemList{
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 200ms linear;
}
.header{

    margin: 0 auto;
    z-index: 1;
    background-color: var(--header-color);
    transition: background-color 200ms linear;
}
.toggle2{
    display: none;
}
@media screen and (max-width: 992px) {
    .toggle{
        display: none;
    }
    .toggle2{
        display: block;
    }
}

.tg{

}