@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.App{


  color:black;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 480px) {
  .App {

  }
}
.App {
  background-color: var(--background-color);


  transition: background-color 200ms linear;
}


